;; shadow-cljs configuration
{:source-paths
 [ "src" ]

 :dependencies
 [[reagent "0.8.1"]
  [re-frame "0.10.5"]
  [com.arohner/uri "0.1.2"]
  [jarohen/chord "0.8.1"]
  [mount "0.1.16"]
  [cheshire "5.8.1"]
  [org.clojure/clojurescript "1.10.597"]
  [org.clojure/core.async "0.4.490"]]

 ;:dev-http {8080 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/assets/js"
        :modules {:main {:entries [app.main]}}}}}
