;; shadow-cljs configuration
{:source-paths
 [ "src" ]

 :dependencies
 [[reagent "0.8.1"]
  [org.clojure/core.async "0.4.490"]]

 :dev-http {8080 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [app.main]}}}}}
