.map-cell {
  display: block;
  padding: 0px;
  margin: 0px;
  border: solid grey 1px;
  flex: unset;
  background-color: transparent;
}

.map-cell__active {
  background-color: black;
}

.map-preview {
  height: 100%;
  width: 100%;
  max-height: unset;
  max-width: unset;
  flex: unset;
}

.map-preview__tbody {
  border: unset;
}

.map-preview__map {
  position: absolute;
  z-index: -1;
}
