body {
  font-size: 18px;
  font-family: monospace;
  padding: 1em;
}

h1 {
  font-size: 4rem;
  font-family: sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 1em 0;
  margin-bottom: 0.5em;
}

nav li {
  display: inline;
  margin-right: 2em;
  text-decoration: underline;
}

nav ul {
  margin: 1em 0;
}

fieldset label {
  margin-right: 1em;
}

.map-preview-wrapper {
  width: 100%;
  height: auto;
  max-width: unset;
  max-height: unset;
  padding: unset;
  margin: unset;
  display: block;
  overflow: unset;
  position: relative;
}

.map-preview-img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.map-preview-tbody {
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-flow: column;
  /* flex-wrap: wrap;
  height: 100%;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: stretch;
   */
}

.map-preview-row{
  display: flex;
  flex: 1;
  /* 
  background-color: #00004499;
  align-items: stretch;
  */
}

.map-preview-cell {
  /* border: solid #55555555 1px; */
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex: 1;
  /*
  height: 100px;
  */
}

.map-cell__active {
  background-color: black;
}

.map-cell__highlight {
  border: solid orange 1px;
}


.char-avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 3px;
  border: solid gray 2px;
  border-radius: 10px;
}

.map-preview-cell .char-avatar {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: solid yellow 1px;
}

.fog-of-war {
  background-color: grey;
}

.dm-mode .fog-of-war {
  background-color: #ffa50096;
}

#session-new {
  display: flex;
}

.flex-rows {
  display: flex;
  flex-flow: column;
}

.flex-cols {
  display: flex;
  flex-flow: row;
}

.player-invisible {
  display: none;
}

.player-invisible-dm-mode {
  opacity:0.5;
}

